<h5>{{truncate book.title limit=33}}</h5>
<section class="book-main">
  {{#if showingMenu}}
    <nav>
      {{#link-to 'user.library.book' book}} Details {{/link-to}}
      <a href="{{book.sourceUrl}}" target="_blank">Go to URL</a>
    </nav>
  {{else}}
    <p class="content">{{truncate book.content limit=95}}</p>
  {{/if}}
</section>
{{list-tags tags=book.tags}}
