<main id="library-book-main">
  <div class="bookmark-heading">
    <div class="heading-buttons">
      {{#link-to 'library.books' class="user-index-nav-btn"}}
        <button class="user-index-nav-btn">&lt;- {{truncate model.library.user.username limit=7}}</button>
      {{/link-to}}
      <img src="/assets/images/divider.png" alt="">
      <div class="hidden"></div>
    </div>
  </div>
  <div class="bookmark-main">
    <h2>{{model.book.title}}</h2>
    <span class="description">
      {{model.book.content}}
    </span>
    <a href="{{model.book.sourceUrl}}" target="_blank">Go to source</a>
    {{#if model.book.tags}}
      <h3>Tags:</h3>
      {{list-tags
        library=model.library
        tags=model.book.tags
        largeTags=true
      }}
    {{else}}
      <h3>No tags...</h3>
    {{/if}}
  </div>
</main>
