<header id="user-index-header">
  <div class="git-user-info">
    {{#link-to 'user' model.gitUser.login}}
      <img class="avatar-img" src="{{model.gitUser.avatarUrl}}" alt="">
      <h3>{{model.gitUser.login}}</h3>
    {{/link-to}}
  </div>
  <h2>Library of Devexandria</h2>
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>logout</button>
  {{/if}}
</header>
<div class="sub-header-library">
  <div class="button-container">
    {{#link-to 'libraries'}}
      <button type="button" name="button" class="globe-btn">Libraries</button>
    {{/link-to}}
    {{#if isSubscribed}}
      <button class="subscribe-btn is-subscribed">Subscribed</button>
    {{else}}
    {{currentUser.username}}
      <button class="subscribe-btn" {{action 'subscribeUser'}}>Subscribe to this library</button>
    {{/if}}
  </div>
  <h2>{{model.library.user.username}}'s Library</h2>
  <div class="flex-hidden"></div>
</div>
{{outlet}}
